<h4 id="highlights">Highlights</h4>

<ol>
  <li>one of my papers is Top cited and downloaded article in Wiley Publisher. See <a
      href="https://bera-journals.onlinelibrary.wiley.com/doi/full/10.1111/bjet.13102" target="_blank" rel="noopener noreferrer">here</a>.</li>
  <li>In recognition of outstanding contributions to IJCAI 2023, I was awarded DISTINGUISHED PC MEMBER CERTIFICATE, 
    The 32th International Joint Conference on Artificial Intelligence : <a
      href="https://ijcai-23.org/distinguished-program-committee-members/" target="_blank" rel="noopener noreferrer">
  </li>
  <li>
    I was as PC member list of AAAI 2021-,WSDM 2022-,IJCAI 2021-, CVPR 2023-, NeurIPS 2023-, KDD 2024-, ICML 2024-
  </li>
</ol>

<!-- <h4 id="preprints">Preprints</h4>

<ol>

  <li> Ziliang Chen, Xin Huang, <u>Quanlong Guan</u>, Liang Lin, Weiqi Luo. A Retrospect to Multi-prompt Learning across Vision and Language
. arXiv preprint arXiv:2103.05114. [<a
      href="https://openaccess.thecvf.com/content/ICCV2023/html/Chen_A_Retrospect_to_Multi-prompt_Learning_across_Vision_and_Language_ICCV_2023_paper.html" target="_blank" rel="noopener noreferrer">arXiv</a>]
  </li>
  <li>
Tian Zhang, Wenshan Guan, Hao Miao, Xiujie Huang, Zhiquan Liu, Chaonan Wang, <u>Quanlong Guan</u><sup>#</sup>, Liangda Fang, Zhifei Duan
. VSRQ: Quantitative Assessment Method for Safety Risk of Vehicle Intelligent Connected System. arXiv preprint arXiv:2007.10791. [<a
      href="https://arxiv.org/abs/2305.01898" target="_blank" rel="noopener noreferrer">arXiv</a>]
  </li>
</ol> -->
